<div class="row">
  <div class="col-lg-8 mb-4">

    <h2><%= t('views.devise.registrations.edit_profile_title') %></h2>

    <br>

    <%= link_to t('views.devise.registrations.edit_profile_btn'), edit_user_info_path(current_user.user_info.hash_id) %>

    <br><br>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="control-group form-group">
        <div class="controls">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>
      </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div><%= t('views.devise.registrations.edit_comfirm_email', unconfirmed_email: resource.unconfirmed_email) %></div>
        <% end %>

      <div class="control-group form-group">
        <div class="controls">
          <%= f.label :password %> <i><%= t('views.devise.registrations.edit_password_explanation') %></i><br />
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= t('views.devise.registrations.password_explanation', minimum_password_length: @minimum_password_length) %></em>
          <% end %>
        </div>
      </div>

      <div class="control-group form-group">
        <div class="controls">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
        </div>
      </div>

      <div class="control-group form-group">
        <div class="controls">
          <%= f.label :current_password %> <i><%= t('views.devise.registrations.edit_current_password_explanation') %></i><br />
          <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit t('views.devise.registrations.edit_update_btn'), class: "btn btn-primary" %>
      </div>
    <% end %>

    <br>

    <div class="control-group form-group">
      <div class="controls">
        <%= link_to t('views.devise.registrations.edit_delete_btn'), registration_path(resource_name), data: { confirm: t('views.devise.registrations.edit_delete_confirm_msg') }, method: :delete %>
      </div>
    </div>
  </div>
</div>