<div class="col-lg-4 col-sm-6 portfolio-item">
  <div class="card h-100">
    <a href="<%= post_path(post.id) %>"><img class="card-img-top" src="<%= "http://i.ytimg.com/vi/#{post.youtube_video_id}/sddefault.jpg" %>" alt="<%= post.title %>"></a>
    <div class="card-body movie-list-m">
      <h4 class="card-title">
        <a href="<%= post_path(post.id) %>"><%= cut_str post.title, 25 %></a>
      </h4>
      <p class="card-text">
        <a href="<%= user_info_path(post.user.user_info.hash_id) %>" class="normal"><%= post.user.user_info.nickname %></a>
        <br>
        いいね！<%= post.favorites.count %>件・<%= time_ago_in_words(post.created_at) + "前" %>
      </p>
    </div>
  </div>
</div>
