<div class="col-lg-4 col-sm-6 portfolio-item">
  <div class="card h-100">
    <a href="<%= post_path(post.id) %>"><img class="card-img-top" src="<%= "http://i.ytimg.com/vi/#{post.youtube_video_id}/sddefault.jpg" %>" alt="<%= post.title %>"></a>
    <div class="card-body movie-list-m">
      <h4 class="card-title">
        <a href="<%= post_path(post.id) %>"><%= cut_str post.title, 25 %></a>
      </h4>
      <p class="card-text">
        <a href="<%= user_info_path(post.user.user_info.hash_id) %>" class="normal"><%= post.user.user_info.nickname %></a>
        <br>
        <%= t('views.posts.show_favorite_count_msg', favorite_count: post.favorites.count) %>・<%= t('views.posts.show_impressionist_count_msg', impressionist_count: post.impressionist_count) %>・<%= t('views.posts.show_open_date_msg', open_date: time_ago_in_words(post.created_at)) %>
      </p>
    </div>
  </div>
</div>
