<h1 class="my-4"><%= t('views.harries.top_title') %></h1>

<% if @posts.present? %>

<h2><%= t('views.harries.show_new_arrive_title') %></h2>
<hr class="style17">

<div class="row">

  <% @posts.each do |post| %>

    <%= render 'post_list_item', post: post %>

  <% end %>

</div>
<% end %>
<!-- /.row -->

<!-- Features Section -->
<div class="row">
  <div class="col-lg-6">
    <h2>ようこそ"Harrytube"へ</h2>
    <p>ハリネズミの動画を見て癒されたい方のために当サイトはございます。以下に該当する方は重症です！<strong>今すぐハリネズミ(動画)を見て癒されましょう！</strong></p>
    <ul>
      <li>ハリネズミのことを一日一回は考えてしまう</li>
      <li>ハリネズミの画像を見てニヤケている</li>
      <li>ハリネズミグッズ(ヌイグルミ、靴下、ポスター...etc)が置いてある</li>
    </ul>
    <p>また自慢のハリネズミちゃんの動画を投稿しませんか？ハリネズミ好き同士で情報交換して、意気投合して、きっと気の合うハリ友が見つかるはず！？</p>
  </div>
  <div class="col-lg-6">
    <img class="img-fluid rounded" src="<%= asset_path '/assets/harries/profil.jpg' %>" alt="">
  </div>
</div>
<!-- /.row -->

<hr class="style17">

<!-- Call to Action Section -->
<div class="row mb-4">
  <div class="col-md-8">
    <p>どのように始めたらいいか分からない方は以下をご覧ください。簡単ですよ。</p>
  </div>
  <div class="col-md-4">
    <a class="btn btn-lg btn-secondary btn-block" href="<%= firsttime_harries_path %>"><%= t('views.harries.way_of_start_btn') %></a>
  </div>
</div>

<script>
(function($) {
  modules.harries.init();
})(jQuery);
</script>
