<!-- Page Content -->
<div class="container">

  <h1 class="my-4">トップページ</h1>

  <% if @posts.present? %>

  <h2>新着順</h2>
  <hr>

  <div class="row">

    <% @posts.each do |post| %>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="<%= post_path(post.id) %>"><img class="card-img-top" src="<%= "http://i.ytimg.com/vi/#{post.youtube_video_id}/sddefault.jpg" %>" alt="<%= post.title %>"></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="<%= post_path(post.id) %>"><%= cut_str post.title, 25 %></a>
          </h4>
          <p class="card-text"><%= cut_str post.description %></p>
        </div>
        <div class="card-footer">
          by <a href="<%= user_info_path(post.user.user_info.id) %>"><%= post.user.user_info.nickname %></a>
        </div>
      </div>
    </div>
    <% end %>

  </div>
  <% end %>
  <!-- /.row -->

  <% if @posts.present? %>

  <br>
  <br>

  <!-- FIXME: ランキングを表示する。 -->
  <h2>ランキング</h2>
  <hr>

  <div class="row">

    <% @posts.each do |post| %>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="<%= post_path(post.id) %>"><img class="card-img-top" src="<%= "http://i.ytimg.com/vi/#{post.youtube_video_id}/sddefault.jpg" %>" alt="<%= post.title %>"></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="<%= post_path(post.id) %>"><%= post.title %></a>
          </h4>
          <p class="card-text"><%= post.description %></p>
        </div>
        <div class="card-footer">
          by <a href="<%= user_info_path(post.user.user_info.id) %>"><%= post.user.user_info.nickname %></a>
        </div>
      </div>
    </div>
    <% end %>

  </div>
  <% end %>
  <!-- /.row -->

  <!-- Features Section -->
  <div class="row">
    <div class="col-lg-6">
      <h2>Modern Business Features</h2>
      <p>The Modern Business template by Start Bootstrap includes:</p>
      <ul>
        <li>
          <strong>Bootstrap v4</strong>
        </li>
        <li>jQuery</li>
        <li>Font Awesome</li>
        <li>Working contact form with validation</li>
        <li>Unstyled page elements for easy customization</li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
    </div>
    <div class="col-lg-6">
      <img class="img-fluid rounded" src="http://placehold.it/700x450" alt="">
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Call to Action Section -->
  <div class="row mb-4">
    <div class="col-md-8">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
    </div>
    <div class="col-md-4">
      <a class="btn btn-lg btn-secondary btn-block" href="#">Call to Action</a>
    </div>
  </div>

</div>
<!-- /.container -->

<script>
(function($) {
modules.harries.init();
})(jQuery);
</script>
