<%= form_with(model: user_info, url: user_info_path(user_info.hash_id), local: true) do |form| %>
<% if user_info.errors.any? %>
  <%= render 'common/error_explanation', form: user_info %>
<% end %>

<div class="control-group form-group">
  <div class="controls">
  <%= form.label :nickname %>
  <%= form.text_field :nickname, id: :user_info_nickname, class: "form-control" %>
  </div>
</div>

<%= form.label :sex %>
<br>
<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-secondary <%= user_info.unknown? ? "active" : "" %>">
    <%= form.radio_button :sex, UserInfo.sexes["unknown"], checked: user_info.unknown? %> -
  </label>
  <label class="btn btn-primary <%= user_info.male? ? "active" : "" %>">
    <%= form.radio_button :sex, UserInfo.sexes["male"], checked: user_info.male? %> 男性
  </label>
  <label class="btn btn-primary <%= user_info.female? ? "active" : "" %>">
    <%= form.radio_button :sex, UserInfo.sexes["female"], checked: user_info.female? %> 女性
  </label>
</div>



<div class="control-group form-group">
  <div class="controls">
  <%= form.label :has_icon %>
  <%= form.text_field :has_icon, id: :user_info_has_icon, class: "form-control" %>
  </div>
</div>

<div class="control-group form-group">
  <div class="controls">
    <%= form.label :breed_history %>
    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
      <%= form.number_field :breed_history, id: :user_info_breed_history, class: "form-control" %>
      <div class="input-group-addon">ヶ月</div>
    </div>
  </div>
</div>

<div class="control-group form-group">
  <div class="controls">
    <%= form.label :youtube_channel_id %>
    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
      <div class="input-group-addon">youtube.com/channel/</div>
      <%= form.text_field :youtube_channel_id, id: :user_info_youtube_channel_id, class: "form-control" %>
    </div>
  </div>
</div>

<div class="control-group form-group">
  <div class="controls">
    <%= form.label :twitter_id %>
    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
      <div class="input-group-addon">twitter.com/</div>
      <%= form.text_field :twitter_id, id: :user_info_twitter_id, class: "form-control" %>
    </div>
  </div>
</div>

<div class="control-group form-group">
  <div class="controls">
  <%= form.label :blog_url %>
  <%= form.text_field :blog_url, id: :user_info_blog_url, class: "form-control" %>
  </div>
</div>

<%= form.submit class: "btn btn-primary" %>
<% end %>
