<form>

  <% if @is_org_user %>
  <%== buttons edit_user_info_path(@user_info.hash_id) %>
  <% end %>

  <br>
  <br>

  <div class="form-group">
    <%== big_circle_icon(@user_info.image.to_s, @user_info.nickname) %>
  </div>

  <%== t_item_label("user_info.nickname", @user_info.nickname) %>

  <%== t_item_label("user_info.sex", @user_info.sex_i18n) %>

  <%== t_item_label("user_info.breed_history", concat_safe(@user_info.breed_history, 'ヶ月')) %>

  <h2><%= t('views.user_infos.show_sub_pet_title') %></h2>
  <hr class="style17">

  <% if @user_info.user.user_pets.present? %>
    <%= link_to t('views.user_infos.show_pet_info_btn'), user_pets_user_infos_path(@user_info.hash_id), class: "btn btn-link" %>

    <% @user_info.user.user_pets.each do |user_pet| %>
    <%== big_circle_icon(user_pet.image.to_s, user_pet.pet_name) %>

    <%== t_item_label("user_pet.pet_name", user_pet.pet_name) %>

    <%== t_item_label("user_pet.pet_type", user_pet.pet_type) %>

    <%== t_item_label("user_pet.pet_sex", user_pet.pet_sex_i18n) %>

    <% end %>

  <% else %>
  <%== only_label(t('views.user_infos.regist_none_msg')) %>
  <% end %>

  <h2><%= t('views.user_infos.show_sub_media_title') %></h2>
  <hr class="style17">

  <%== t_item_label("user_info.youtube_channel_id", concat_safe("https://www.youtube.com/watch?v=", @user_info.youtube_channel_id)) %>

  <%== t_item_label("user_info.twitter_id", concat_safe("https://twitter.com/", @user_info.twitter_id)) %>

  <%== t_item_label("user_info.blog_url", @user_info.blog_url) %>

</form>