<form>

  <% if @is_org_user %>
  <%= link_to '編集する', edit_user_info_path(@user_info.hash_id), class: "btn btn-primary" %>
  <% end %>

  <br>
  <br>

  <div class="form-group row">
    <!-- FIXME: 正しいパスを設定する -->
    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/150x150" alt="<%= @user_info.nickname %>">
    <!-- <img src="img/<%# @user_info.has_icon %>" class="img-circle">-->
  </div>

  <%== item_label("Nickname", @user_info.nickname) %>

  <%== item_label("Hash id", @user_info.hash_id) %>

  <%== item_label("Sex", @user_info.sex) %>

  <%== item_label("Breed history", @user_info.breed_history) %>

  <h2>ペット</h2>
  <hr>

  <% if @user_info.user.user_pets.present? %>

    <% @user_info.user.user_pets.each do |user_pet| %>
    <!-- TODO: user_petにデータがあれば取得するように修正する -->

    <%== item_label("Pet name", user_pet.pet_name) %>

    <%== item_label("Pet type", user_pet.pet_type) %>

    <%== item_label("Pet sex", user_pet.pet_sex) %>

    <% end %>

  <% else %>
  <%== only_label("飼っていない") %>
  <% end %>

  <h2>メディア</h2>
  <hr>

  <%== item_label("Youtube channel", @user_info.youtube_channel_id) %>

  <%== item_label("Twitter", @user_info.twitter_id) %>

  <%== item_label("Blog url", @user_info.blog_url) %>

</form>