<form>

  <% if @is_org_user %>
  <%== buttons edit_user_info_path(@user_info.hash_id) %>
  <% end %>

  <br>
  <br>

  <div class="form-group">
    <%== big_circle_icon(@user_info.image.to_s, @user_info.nickname) %>
  </div>

  <%== t_item_label("user_info.nickname", @user_info.nickname) %>

  <%== t_item_label("user_info.sex", @user_info.sex_i18n) %>

  <%== t_item_label("user_info.breed_history", concat_safe(@user_info.breed_history, 'ヶ月')) %>

  <h2>ペット</h2>
  <hr>

  <% if @user_info.user.user_pets.present? %>
    <%= link_to 'ペット詳細を見る', user_pets_user_infos_path(@user_info.hash_id), class: "btn btn-link" %>

    <% @user_info.user.user_pets.each do |user_pet| %>
    <!-- TODO: user_petにデータがあれば取得するように修正する -->

    <%== t_item_label("user_pet.pet_name", user_pet.pet_name) %>

    <%== t_item_label("user_pet.pet_type", user_pet.pet_type) %>

    <%== t_item_label("user_pet.pet_sex", user_pet.pet_sex_i18n) %>

    <% end %>

  <% else %>
  <%== only_label("飼っていない") %>
  <% end %>

  <h2>メディア</h2>
  <hr>

  <%== t_item_label("user_info.youtube_channel_id", concat_safe("https://www.youtube.com/watch?v=", @user_info.youtube_channel_id)) %>

  <%== t_item_label("user_info.twitter_id", concat_safe("https://twitter.com/", @user_info.twitter_id)) %>

  <%== t_item_label("user_info.blog_url", @user_info.blog_url) %>

</form>