<h1 class="my-4">ペット一覧</h1>

<p><%= page_entries_info @user_pets %></p>

<div class="row">

  <% @user_pets.each do |user_pet| %>
    <div class="col-lg-4 col-sm-6 mt-4">
      <a href="<%= user_pet_path user_pet.id %>">
        <div class="form-inline">
          <div class="form-group">
              <%== thumbnail_icon(user_pet.image.to_s, user_pet.pet_name) %>
          </div>
          <div class="form-group">
            <%= user_pet.pet_name %>
          </div>
        </div>
      </a>
    </div>
  <% end %>

</div>

<hr class="style17">

<!-- 挙動を確認する -->
<%= paginate @user_pets, :theme => 'twitter-bootstrap-4' %>