<% unless @user_pets.present? %>
<%== only_label(t('views.user_pets.regist_none_msg')) %>
<% end %>

<% @user_pets.each do |user_pet| %>

<% if @is_org_user %>
<%== buttons(edit_user_pet_path(user_pet), user_pet_path(user_pet)) %>
<% end %>

<br>
<br>

<%= render 'show', user_pet: user_pet %>

<hr class="style17">

<% end %>

<% if @is_org_user %>
	<% if @is_ok_regist %>
	<%= link_to t('views.user_pets.regist_btn'), new_user_pet_path, class: "btn btn-primary" %>
	<% else %>
  <div class="form-group row">
    <label class="col-sm-12 col-form-label"><%= t('views.user_pets.regist_over_msg') %></label>
  </div>
	<% end %>
<% end %>