<%= form_with(model: post, local: true) do |form| %>
<% if post.errors.any? %>
  <%= render 'common/error_explanation', form: post %>
<% end %>

<div class="control-group form-group">
  <div class="controls">
    <%= form.label :title %>
    <%= form.text_field :title, id: :post_title, class: "form-control" %>
  </div>
</div>

<div class="control-group form-group">
  <div class="controls">
    <%= form.label :description %>
    <%= form.text_area :description, id: :post_description, class: "form-control" %>
  </div>
</div>

<div class="control-group form-group">
  <div class="controls">
    <%= form.label :youtube_video_id %>
    <%= form.text_field :youtube_video_id, id: :post_youtube_video_id, class: "form-control" %>
  </div>
</div>

<div class="control-group form-group">
  <div class="controls">
    <%= form.label :tags %>
    <%= form.text_field :tags, id: :post_tags, class: "form-control" %>
  </div>
</div>

<%= form.submit class: "btn btn-primary" %>

<% end %>
