<!-- Page Content -->
<div class="container">

  <% if @is_org_user %>
  <%== buttons(edit_post_path(@post), post_path(@post)) %>
  <% end %>

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3"><%= @post.title %>
  </h1>

  <div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-12">

      <!-- Preview Movie -->
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= @post.youtube_video_id %>?rel=0&controls=0&fs=0&modestbranding=1" allowfullscreen></iframe>
      </div>

      <br>
      <br>

      <!-- Like -->
      <div>
        <% if user_signed_in? %>
          <% if @is_favorite %>
          <span><i id="favorite" class="fa fa-heart fa-lg"></i></span>
          <% else %>
          <span><i id="favorite-o" class="fa fa-heart-o fa-lg"></i></span>
          <% end %>
        <% end %>

        <% if @favorite_size > 0 %>
        <span id="favorite_count">いいね！<%= @favorite_size %>件</span>
        <% else %>
        <span id="favorite_count">いいね！はありません</span>
        <% end %>
      </div>

      <br>

      <ol class="breadcrumb">
        <li class="breadcrumb-item active">
          <span><i class="fa fa-user-circle fa-lg"></i><a href="<%= user_info_path(@post.user.user_info.hash_id) %>"><%= @post.user.user_info.nickname %></a></span>
          <!-- Date/Time -->
          <span><i class="fa fa-calendar fa-lg"></i><%= l(@post.updated_at, format: :short) %>に公開</span>
          <span><i class="fa fa-comments fa-lg"></i><%= @comments.size %>コメント</span>
          <span><i class="fa fa-tv fa-lg"></i><%= @post.impressionist_count %>回閲覧</span>
          <br>

          <% if @post.tag_list.present? %>
          <span><i class="fa fa-tags fa-lg"></i><%= @post.tag_list %></span>
          <% end %>
        </li>
      </ol>

      <hr>

      <!-- Post Content -->
      <p class="lead"><%= @post.description %></p>

      <hr>

      <% if user_signed_in? %>

      <%= form_for(Comment.new, url: comments_path) do |comment| %>
      <!-- Comments Form -->
      <div class="card my-4">
        <h5 class="card-header">コメントを書く</h5>
        <div class="card-body">
          <form>
            <div class="form-group">
              <%= comment.text_area :comment, rows: 3, class: "form-control" %>
            </div>
            <%= comment.submit "コメントを送信", class: "btn btn-primary" %>
          </form>
        </div>
      </div>
      <% end %>

      <% end %>

      <div id="comment-field"> 
        <% @comments.each do |comment| %>
        <!-- Single Comment -->
        <div class="media mb-4">
          <%== thumbnail_icon(comment.user.user_info.image.to_s, comment.user.user_info.nickname) %>
          <div class="media-body">
            <h5 class="mt-0"><%= comment.user.user_info.nickname %></h5>
            <%= comment.comment %>
          </div>
        </div>
        <hr>
        <% end %>
      </div>
    </div>

  </div>
  <!-- /.row -->

  <%= hidden_field_tag 'post[id]', @post.id %>
</div>
<!-- /.container -->

<script>
  (function($) {
    modules.posts.show();
  })(jQuery);
</script>
