<!-- Page Content -->
<div class="container">

  <% if @is_org_user %>
  <br>
  <%= link_to '編集する', edit_post_path(@post), class: "btn btn-primary" %>
  <% end %>

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3"><%= @post.title %>
  </h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">
      <small>by
        <a href="<%= user_info_path(@post.user.user_info.id) %>"><%= @post.user.user_info.nickname %></a>
      </small>
      <% if @post.tags.present? %>
      <i class="fa fa-tags fa-lg"></i></span><span><%= @post.tags %></span>
      <% end %>
    </li>
  </ol>

  <div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-8">

      <!-- Preview Image -->
      <!-- FIXME: 動画を見れるようにする -->
      <img class="img-fluid rounded" src="<%= "http://i.ytimg.com/vi/#{@post.youtube_video_id}/sddefault.jpg" %>" alt="">

      <hr>

      <!-- Date/Time -->
      <p><%= l(@post.updated_at, format: :long) %></p>

      <hr>

      <!-- Post Content -->
      <p class="lead"><%= @post.description %></p>

      <hr>

      <% if user_signed_in? %>

      <!-- FIXME: AJAXで処理するよう修正 -->
      <%= form_for(Comment.new, url: comments_path) do |comment| %>
      <%= comment.hidden_field :post_id, value: @post.id %>
      <!-- Comments Form -->
      <div class="card my-4">
        <h5 class="card-header">コメントを書く</h5>
        <div class="card-body">
          <form>
            <div class="form-group">
              <%= comment.text_area :comment, rows: 3, class: "form-control" %>
            </div>
            <%= comment.submit "コメントを送信", class: "btn btn-primary" %>
          </form>
        </div>
      </div>
      <% end %>

      <% end %>

      <div id="comment-field"> 
        <% @comments.each do |comment| %>
        <!-- Single Comment -->
        <div class="media mb-4">
          <!-- FIXME: ユーザのアイコンを表示する -->
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0"><%= comment.user.user_info.nickname %></h5>
            <%= comment.comment %>
          </div>
        </div>
        <hr>
        <% end %>
      </div>
    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

<script>
  (function($) {
    modules.posts.show();
  })(jQuery);
</script>
