<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/harries/index">Harrytube</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/samples/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/samples/services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/samples/contact">Contact</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Portfolio
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
            <a class="dropdown-item" href="/samples/portfolio_1_col">1 Column Portfolio</a>
            <a class="dropdown-item" href="/samples/portfolio_2_col">2 Column Portfolio</a>
            <a class="dropdown-item" href="/samples/portfolio_3_col">3 Column Portfolio</a>
            <a class="dropdown-item" href="/samples/portfolio_4_col">4 Column Portfolio</a>
            <a class="dropdown-item" href="/samples/portfolio_item">Single Portfolio Item</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Blog
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
            <a class="dropdown-item" href="/samples/blog_home_1">Blog Home 1</a>
            <a class="dropdown-item" href="/samples/blog_home_2">Blog Home 2</a>
            <a class="dropdown-item" href="/samples/blog_post">Blog Post</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Other Pages
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
            <a class="dropdown-item" href="/samples/full_width">Full Width Page</a>
            <a class="dropdown-item" href="/samples/sidebar">Sidebar Page</a>
            <a class="dropdown-item" href="/samples/faq">FAQ</a>
            <a class="dropdown-item" href="/404.html">404</a>
            <a class="dropdown-item" href="/samples/pricing">Pricing Table</a>
          </div>
        </li>
        <!-- ログイン -->
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_user.user_info.nickname %>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
              <%= link_to '投稿する', new_post_path, class: "dropdown-item" %>
              <%= link_to 'プロフィール', edit_user_info_path(current_user.user_info.id), class: "dropdown-item" %>
              <%= link_to '基本情報', edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'サインアップ', new_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'ログイン', new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
        <!-- !ログイン -->
      </ul>
    </div>
  </div>
</nav>
