<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %> | <%= t('views.layouts.main_title') %></title>
    <%= csrf_meta_tags %>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('/favicon.ico') %>
  </head>

  <body>
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>

    <%= render 'common/navi' %>

    <div class="wrap-container">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <%= yield %>
          </div>
          <div class="col-md-4">
            <!-- TODO:仮置きのため実際のものに変更する -->
            <!-- FIXME:新規投稿の場合は、elseに遷移してしまう。 -->
            <% if @is_org_user %>
            <%= render 'common/side_bar_for_user' %>
            <% end %>

            <%= render 'common/side_bar_for_movie' %>
          </div>
        </div>
      </div>
    </div>

    <%= render 'common/footer' %>

    <script>
      (function($) {
        modules.commons.init();
      })(jQuery);
    </script>

  </body>
</html>
